*{
	margin: 0;
	padding: 0;
}

body{
	background-color: darkgray;
	font-size: 22px;
}

.main{
	padding: 55px 50px 30px;
	background-color: white;
}

button{
	background-color: darkred;
	border: none;
	width: 100%;
	padding: 10px 0;
	color: white;
	font-size: 18px;
	border-radius: 6px;
}

.header{
    margin-top: 10px;
}
.header img{
    display: block;
}

.follwrap{
	max-width: 800px;
	margin: 0 auto;
}

.gif{
	max-width: 100%;
	height: auto;
}

.t{
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: left;
}
.center{
	text-align: center;
}


.Img1r{
	 margin: 25px 0px 0px 20px;
	float: left;
	
}

.Img1r img{
	max-width: 316px;
	max-height: 266px;
}

.Img1r p{
	max-width: 316px;
}

.Img2r{
    margin: 20px 0px 20px 20px;
	float: left;
}

.Img2r img{
	max-width: 200px;
	max-height: 260px;
}

.Img2r p{
	max-width: 200px;
}


.clear{
	clear: both;
}

.footer{
	padding-top: 30px;
	padding-bottom: 25px;
	color: white;
	font-size: 16px;
}
.footer a{
	color: white;
}
.a1{
	margin: 20px 20px 20px 20px;
}
.a2{
	margin: 20px 20px 0px 20px;
}
